body {
    background: #111;
    font-family: 'poppins';
    
}
.form {
    background-color: #3e4144;
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: rgba(63, 58, 58, 0.644);
    border-radius: 10px;
}
h1.login-title {
    color: rgb(255, 249, 249);
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius:10px;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#ffffff96;
    border-radius:10px;
    outline: none;
}

.login-button {
    color: rgb(255, 255, 255);
    background-image:linear-gradient(to left,rgba(177, 18, 177, 0.877),rgb(0, 132, 255));
    border: 0;
    border-radius:10px;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: rgb(255, 255, 255);
}
h3 {
    font-weight: normal;
    text-align: center;
}
#acc{
    color:white;
}

